@media(max-width: 576px) {

  h2{
    color: #fff;
    font-size: 2rem;
  }

  .map-responsive{
    height: 30vh;
    width: 80vw;
    margin-left: -10vw;
  }

  .contact-meta-block {
    margin-top: 30px;
    padding: 40px 0;
    min-height: 250px;
    text-align: center;
    background: #000;
    border-radius: 3px;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.05);
    color: #fff;
    box-shadow: 5px 5px 10px #56a3a6;
    width: 80vw;
    margin-left: -12vw;
  }

}
