<footer>
  <div class="top-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-3">
          <p>E disse-lhes: Ide por todo o mundo e pregai o evangelho a toda criatura.<br>Marcos 16:15</p>
        </div>

        <!-- <div class="col-sm-3 col-md-3 col-lg-3">
          <h3>Inscreva-se</h3>
          <form class="subscribe-form">
            <div class="form-group">
              <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp"
                placeholder="email">
            </div>
            <button type="submit" class="btn btn-main-sm" id="addButton">inscreva-se agora</button>
          </form>
        </div> -->
        <!-- End of .col-sm-3 -->
      </div>
    </div> <!-- end container -->
  </div>
  <div class="footer-bottom">
    <h5>Toda Honra e Toda Glória Para o Rei dos reis Jesus Cristo</h5>
    <h6>Copyright 2020</h6>
  </div>
</footer>

