<app-header  [Title]="Title" [Subtitle]="Subtitle"></app-header>
<!--
Separation Less of our
==================================== -->

<section class="section bg-black" id="believer">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="title text-center">
          <h4>um objetivo</h4>
          <h2>Quem Somos</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<!--
Our Store Slider
==================================== -->

<section class="hero-area" id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="video-player">
          <iframe width="560"  src="https://www.youtube.com/embed/g3-VxLQO7do" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-md-6">
        <div class="block">
          <h2 class="mt-5">Nossa História</h2>
          <p class="text-white">{{nossahistoria}}</p>
          <ul class="list-inline wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".7s">
            <!-- <a href="/about.html" target="_blank" class="btn btn-believer">Saiba Mais</a> -->
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>



<!--
Separation Faça parte você também
==================================== -->

<section class=" section bg-black" id="believer">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="title text-center">
          <h4>Sobre o evento</h4>
          <h2>Faça Parte você também</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<!--
Slider Donation Do to
==================================== -->

<section class="hero-area">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="video-player">
          <iframe width="560"  src="https://www.youtube.com/embed/g3-VxLQO7do" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-md-6">
        <div class="block">
          <h2 class="mt-5">participe dessa família</h2>
          <p class="text-white">
            {{facaparte}}
          </p>
          <ul class="list-inline wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".7s">
            <li class="list-inline-item">
              <!-- <a href="" target="_blank" class="btn btn-believer">Fazer Parte</a> -->
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>


<!--
Separation Levando amor para o mundo
==================================== -->

<section class="section bg-black" id="believer">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="title text-center">
          <h4>Sobre o evento</h4>
          <h2>Levando amor para o mundo</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<!--
Slider Donation
==================================== -->

<section class="hero-area">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="video-player">
          <iframe  width="560"  src="https://www.youtube.com/embed/g3-VxLQO7do" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-md-6">
        <div class="block">
          <h2 class="mt-5">Doações</h2>
          <p class="text-white">{{doacoes}}</p>
          <ul class="list-inline wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".7s">
            <li class="list-inline-item">
              <a href="https://docs.google.com/forms/d/1WmkCI5IyUYoVfV3b5vJ4mxz9eUujOO-7yd62g9Tu2J8/edit"
                target="_blank" class="btn btn-believer">Cadastrar</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!--
Separation We are Believe
==================================== -->

<section class="section bg-black" id="believer">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="title text-center">
          <h4>Sobre o evento</h4>
          <h2>We are Believer</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<!--
Beliver Slider
==================================== -->

<section class="hero-area">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="video-player">
          <iframe  width="560"  src="https://www.youtube.com/embed/g3-VxLQO7do" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-md-6">
        <div class="block">
          <h2 class="mt-5">Projeto Believer</h2>
          <p class="text-white">{{believer}}</p>
          <ul class="list-inline wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".7s">
            <a href="believer.html" target="_blank" class="btn btn-believer">Contribuir</a>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- <section class="section bg-black" id="believer">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="title text-center">
          <h4>Sobre o evento</h4>
          <h2>Contato</h2>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- <section class="hero-area">
  <div class="container">
    <div class="row ">
      <div class="col-12 col-md-4">
        <div class="address-block contact-meta-block ">
          <i class="fas fa-map-marker-alt"></i>
          <h4>Localização</h4>
          <p>
            Rua Henrique Muzzio, 000<br>
            Jardim Varginha, São Paulo <br>
          </p>

        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="phone-block contact-meta-block">
          <i class="fab fa-whatsapp"></i>
          <h4>Whats app</h4>
          <p>
            Whats: (11) 0000 0000<br>
          </p>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="social-icons-block contact-meta-block">
          <i class="tf-ion-ios-contact"></i>
          <h4>Redes Sociais</h4>
          <ul class="list-inline social-icon">
            <li class="list-inline-item"><a href=""><i class="fab fa-facebook-square"></i></a></li>
            <li class="list-inline-item"><a href=""><i class="fab fa-youtube"></i></a></li>
            <li class="list-inline-item"><a href=""><i class="fab fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section> -->

